<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <h2>Let's build some code reviews!</h2>
  <% if (!user) { %>
    <div>
      <p>Start by logging into your Google account above.</p>
      <p>(Ensure this account has access to the files you need!)</p>
    </div>
  <% } else {%>
    <div>
      <p>What unit is this code review for?</p>
    </div>

    <div id="radio-inputs">
      <input 
        type="radio" 
        id="unit-one"
        name="unit" 
        value="unit-one"
        checked
      >
      <label for="unit-one">Unit 1</label>
  
      <input 
        type="radio" 
        id="unit-two"
        name="unit" 
        value="unit-two"
      >
      <label for="unit-two">Unit 2</label>
  
      <input 
        type="radio"
        id="unit-three"
        name="unit" 
        value="unit-three"
      >
      <label for="unit-three">Unit 3</label>

      <input 
        type="radio"
        id="unit-four"
        name="unit" 
        value="unit-four"
      >
      <label for="unit-four">Unit 4</label>
    </div>
    <form action="/build/unit-one" method="POST" id="form">

    </form>
    <a href="/build/unit-one">Build Unit 1</a>
    <a href="/build/unit-two">Build Unit 2</a>
  <% } %>
</main>

<%- include('./partials/footer') %>
